html, body {
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  background: -webkit-linear-gradient(gray, cadetblue);
  background: linear-gradient(gray, cadetblue); }

#jumbotron {
  border: 2px solid blue;
  color: green;
  width: 50vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
